# github action workflow to run black formatter check and linting checks for our python code

name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install xmlsec1 dependency
        run: sudo apt install -y libxmlsec1 libxmlsec1-dev
      - name: Install Airflow + dependencies
        run: |
          pip install -r requirements.txt
          poetry install
      - name: Lint with flake8
        run: poetry run flake8
      - name: Format with black
        run: poetry run black --check --diff .
