# github action workflow to run tests for libsys-airflow

name: Tests with Coverage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SQLALCHEMY_WARN_20: 1
jobs:
  run_tests_with_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Airflow + dependencies via poetry
        run: |
          pip install -r requirements.txt
          poetry install
      - name: Test with pytest
        run: |
          poetry run airflow db init
          poetry run pytest -rP
          poetry run coverage lcov
          poetry run coveralls --service=github
