name: Type Checking

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install Airflow + dependencies
        run: |
          pip install -r requirements.txt
          poetry install
      - name: Type checking with mypy
        run: poetry run mypy libsys_airflow tests
